/*#E9A500*/
/*Arka plan*/
body{
    background: #141414 !important;
}
/*Alt link yazıları*/
._Gs{
    color: #FFF !important;
}
/*Üst link yazıları*/
.gb_P{
    color: #FFF !important;
}
/*Footer*/
.fbar {
    background: #1E1E1E !important;
}
/*Button arka planı*/
.jsb input{
    color: #FFC107 !important;
    background: #000 !important;
}
/**/
/*Arama ekranı en üst arka plan ve arka plan*/
.sfbgg{
    background: #141414 !important;
}
#hdtbSum{
    background: #141414 !important;
}
#hdtb-s{
    color: #141414 !important;
}
#extabar{
    background: #141414 !important;
}
#search{
    background: #141414 !important;
}
.xpdopen{
    background: #616161 !important;
}
.col{
    background: #141414 !important;
}
/**/

/*Sonuçların alt yazıları*/
.st{
    color: #5E5E5E !important;
}
/*Arama sonuçları linkleri*/
.med a{
    color: #E9A500 !important;
    font-weight: bold !important;
}
.med{
    color: #5E5E5E !important;
}
/*Yan açıklama yazıları*/
._cgc{
    color: #FFF !important;
}
/*Yan açıklama linkleri*/
.fl{
    color: #E9A500 !important;
}
.hdtb-imb{
    color: #E9A500 !important;
    
}
._czk{
    color: #E9A500 !important;
}
.kno-ecr-pt.kno-fb-ctx{
    color : #E9A500 !important;
}
._gdf{
    color: #E9A500 !important;
}
#fbar{
    background: #1E1E1E !important;
}
/*Current page*/
.cur{
    color: #FFF !important;
}

._PMc{
    color: #E9A500 !important;;
}
.mod{
    color: #E9A500 !important;;
}

.vk_c.r-i_xUhkhiAWKM{
    background: #616161 !important;
}

#_fVd{
    background-color: #E9A500 !important;
}
#_lid{
    background-color: #E9A500 !important;
}